.common :global(.cspace-ui-PublicPage--common),
.common :global(.cspace-ui-Logo--common) {
  background-image: url(../../images/logo.svg);
}

.common :global(.cspace-ui-PublicPage--common) {
  background-size: auto 66px;
}

.common :global(.cspace-ui-Logo--common) {
  width: 44px;
}

